@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #26282B;
  color: #fff;
}

.modal-open {
  overflow-y: hidden; 
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-heading {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

hr {
  width: 50px;
  border: 1px solid #38a098;
  border-radius: 5px;
}

