body {
  margin: 0;
  font: 100%/1.625 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  background-color: #26282B;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-heading {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}